@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #acb4d0 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 350px;
  border: 2px solid rgba(255, 255, 255, 0.311); /* Thin white border */
  border-radius: 10px; /* Border radius for smoother edges */
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.31), 0 0 10px rgba(255, 255, 255, 0.321); /* Neon effect */
  transition: transform 0.3s ease-in-out; /* Smooth transition on hover */
}

.container:hover {
  transform: scale(1.02); /* Scale up slightly on hover */
}

.image {
  margin-bottom: 26px;
  
}

.title {
  font-size: 20px;
  font-weight: 600;
  color:rgb(239, 233, 55);
  font-style: italic;
}

.description {
  margin-top: 6px;
  font-size: 10xp;
  font-weight: 200;
}

.skills {
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  list-style: none;
  
}

.skill {
  font-size: 16px;
  font-weight: 200;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 8px;
}

.links {
  width: 80%;
  margin-top: 15px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.link {
  text-decoration: none;
  color:black;
  font-size: 20px;
  font-weight: 500;
  border-radius: 100px;
  background: white;
  padding: 1px 22px;
}
.link:hover {
  background: rgba(211, 211, 211, 0.719); /* Change background color on hover */
}